<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>About Katalien</title>
</head>
<body>
    <img class="cats" src="img/about.png">
    <br>
    <br>

    <div class="container">
    <p>Al crearse el universo los gatos, decidieron vivir en el plantea Tierra, esto permitió que los seres humanos tuvieran una conexión cósmica, ya que son los únicos seres vivos que descienden de otros planetas. Ahora que el Universo está a punto de colapsar, (debido a la guerra interna entre alienígenas). El líder regresó por estos increíbles ejemplares, ya que, por sus cualidades místicas, son los únicos que pueden evitar el exterminio del Universo.
        Los mininos cambiarán el destino del Cosmos en un videojuego lleno de aventura y acción</p>
   </div>
    <br>
    <br>
    <div class="botones">
    <a href="/">Home ✨</a>
    <a href="/works">Works 💕</a>
    <a href="/gallery">Gallery 😽</a>
   </div>
</body>
    </html>