<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>About Katalien</title>
</head>
<body>
    <h3>Alguos diseños sobre el juego</h3>
    <br>
    <br>
    <img class="cats" src="img/katalien1.png">
    <img class="cats" src="img/katalien2.png">
    <img class="cats" src="img/katalien3.png"> 
    <br>
    <br>

    <div class="container">
    <p></p>
   </div>
    <br>
    <br>
    <div class="botones">
    <a href="/">Home ✨</a>
    <a href="/works">Works 💕</a>
    <a href="/about-page">About 👽</a>
   </div>
</body>
    </html>