<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <title>Katalien the videogame</title>
</head>
<body>
    <img class="cats" src="img/heather.png">
    <br>
    <br>

    <div class="container">
    <p>Katalien es un videojuego, creado por Fernanda Guadarrama en el curso de su bootcamp sobre Desarrollo Web en Ironhack.
        En el curso de 1 semana, se diseñó, realizó y ejecutó el proyecto con asesoría de Harland Lohora y Yani. 
        Gracias al apoyo de un gran equipo de compañeros y de sus asesores externos que le dieron el visto bueno de último minuto. Se logró crear un juego inigualable.
    </p>
    </div>
    <br>
    <br>
    <div class="botones">
    <a href="/about-page">About 👽</a>
    <a href="/works">Works 💕</a>
    <a href="/gallery">Gallery 😽</a>
    </div>
   </body>
</html>