<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>About Fernanda</title>
</head>
<body>
    <img class="cats" src="img/fernanda.png">
    <br>
    <br>

    <div class="container">
    
    <p>Tiene 29 años, estudió Psicología y una Maestría en Atención a la Diversidad Inclusiva. Decidió cambiar de carrera e incursionar en la programación</p>
   </div>
    <br>
    <br>
    <div class="botones">
        <a href="/">Home ✨</a>
        <a href="/about-page">About 👽</a>
        <a href="/gallery">Gallery 😽</a>
   </div>
</body>
</html>